<!DOCTYPE html>
<html>
  <head>
    <title>Funny Movies</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_pack_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <div class="container-fluid">
      <div class="d-flex flex-column flex-md-row align-items-center p-2 px-md-4 mb-3 bg-white border-bottom">
        <h5 class="my-0 mr-md-auto">
          <i class="fas fa-home"></i> 
            Funny Movies
        </h5>
        <div class="form-row mr-md-3">
          <div class="col">
            <input type="text" name="user[email]" class="form-control" placeholder="Email" />
          </div>
          <div class="col">
            <input type="password" name="user[password]" class="form-control" placeholder="Password" />         
          </div>
        </div>
      <a class="btn btn-outline-primary" href="#">Login/Register</a>
      </div>
      <%= yield %>
    </div>
  </body>
</html>
